@font-face {
    font-family: "HD";
    src: url("assets/fonts/FS\ Sinclair\ Medium.otf");
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #f39c12;
    font-family: "HD";
    font-size: 3rem;
    margin-bottom: 30px;
}

h2 {
    font-family: "HD";
    color: #f39c12;
    font-size: 2rem;
    margin-bottom: 10px;
}

.faction-card {
    border: 2px solid #f39c12;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
    background-color: #222;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.faction-symbol, .faction-propaganda {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.faction-logo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.faction-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 1.1rem;
    font-family: "HD";
    line-height: 1.5;
    margin-bottom: 15px;
}

strong {
    color: #f39c12;
}

.faction-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.faction-card > p, .faction-card > h2 {
    margin-bottom: 10px;
}

b {
    color: red;
}

.sticky {
    position: sticky;
    top: 0;
}